body {
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
   background: linear-gradient(135deg, #722ced, #12a6d5);
  color: #000; /* Black text for morning mode */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease; 
}

/* Night Mode Styles */
body.night-mode {
  background: linear-gradient(135deg, #1c073e, #03142c); /* Dark mode background */
  color: #eee; /* White text for night mode */
}

.container,
.project-list li,
h1,
.project-details,
.modal-content,
.more-info-modal-content,
.notifications-content {
  background-color: #fff; /* White background for elements in morning mode */
  color: #000; /* Black text color for elements in morning mode */
}

.night-mode .container,
.night-mode h1,
.night-mode .more-info-modal-content,
.night-mode .notifications-content {
  background-color: #000000; /* Dark background for elements in night mode */
  color: #eee; /* White text color for elements in night mode */
}
.night-mode .button-container,
.night-mode .project-details,
.night-mode .project-list li,
.night-mode .more-info-modal-content {
  background-color: #0a0a0a;
  color: #0a0a0a; 
}
.night-mode .modal-content {
  background-color: #0a0a0a;
  color: #eee; 
}
.night-mode .notifications-content {
  background-color: #0a0a0a;
  color: #eee; 
}

.night-mode .notifications-content li {
  border-bottom-color: #212121; 
}

/* Morning Mode Styles (when not in night mode) */
.container,
.project-list li,
h1,
.project-details,
.modal-content,
.more-info-modal-content {
  background-color: white; 
  color: #000; 
}

.notifications-content {
  background-color: white; 
  color: #000; 
}

.notifications-content li {
  border-bottom-color: #eee; 
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 900px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}


h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
}

.project-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* مهم جداً */
.project-list li {
  background-color: #e6e6e6;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.night-mode .project-list li {
  background-color: #0a0a0a;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px #1c073e;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px #9e9e9e;
  cursor: pointer;
}
.night-mode .project-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px #1c073e;
  cursor: pointer;
}
.project-info {
  flex: 1;
  margin-right: 10px;
}

.project-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.project-info p {
  margin: 5px 0 0;
  font-size: 0.85rem;
  color: #555;
}
h2, h3 {
  color: #3a1c71 !important;
}
.project-image {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project-image:hover img {
  transform: scale(1.1);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 800px;
  width: 80%;
  max-height: 90vh;
  overflow-y: auto;
}

.night-mode .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #b5b5b5;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.night-mode .close:hover, .close:focus {
  color: white;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: black;
}

.project-modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

/* Image Navigation Buttons */
.nav-left, .nav-right {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px 15px; 
  cursor: pointer;
  font-size: 24px; 
  border-radius: 50%; 
  transition: all 0.3s ease; 
}

.nav-left:hover, 
.nav-right:hover {
  background-color: rgba(102, 102, 102, 0.7);
  transform: scale(1.1); 
}

.dark-mode .nav-left, 
.dark-mode .nav-right,
.night-mode .nav-left, 
.night-mode .nav-right {
  background-color: rgba(0, 0, 0, 0.8); 
  color: #eee; 
}

.dark-mode .nav-left:hover, 
.dark-mode .nav-right:hover,
.night-mode .nav-left:hover, 
.night-mode .nav-right:hover {
  background-color: rgba(255, 255, 255, 0.7); 
  color: #333; 
}

.project-details {
  text-align: center;
  margin-top: 20px;
}

.more-info {
  background-color: #3a1c71;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.more-info:hover {
  background-color: #5c3c8a;
  transform: scale(1.05);
}

/* More Info Modal */
  .more-info-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .more-info-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 500px;
    width: 80%;
  }

  .close-more-info {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close-more-info:hover,
  .close-more-info:focus {
    color: black;
  }

  footer {
    text-align: center;
    margin-top: 20px;
    color: #555;
  }

  /* Scrollbar Styles */
  .container::-webkit-scrollbar {
    width: 8px;
  }

  .container::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 8px;
  }


/* Scrollbar Styles */
.night-mode .container::-webkit-scrollbar {
  width: 8px;
}

.night-mode .container::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 8px;
}
  /* Hide modals by default */
  .modal,
  .more-info-modal {
    display: none;
  }

  /* Student Info Modal */
  .student-info-modal {
    display: none;
    /* مخفية بشكل افتراضي */
    position: fixed;
    z-index: 1001;
    /* أعلى من أي عنصر آخر */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* خلفية داكنة مع شفافية */
    display: flex;
    /* استخدم flex لتوسيع المحتوى في المركز */
    justify-content: center;
    /* محاذاة المحتوى في الوسط أفقيًا */
    align-items: center;
    /* محاذاة المحتوى في الوسط عموديًا */
  }

  .student-info-modal-content {
    background-color: white;
    /* خلفية بيضاء للنافذة */
    padding: 20px;
    /* مسافة داخلية */
    border-radius: 8px;
    /* زوايا مدورة */
    position: relative;
    /* لتحديد موقع زر الإغلاق */
    max-width: 500px;
    /* الحد الأقصى للعرض */
    width: 90%;
    /* عرض النافذة */
  }

  .close-student-info {
    position: absolute;
    /* زر الإغلاق */
    top: 10px;
    right: 10px;
    color: #aaa;
    /* لون للزر */
    font-size: 28px;
    /* حجم الخط */
    font-weight: bold;
    /* خط عريض */
    cursor: pointer;
    /* تغيير المؤشر عند التمرير */
  }

  .close-student-info:hover,
  .close-student-info:focus {
    color: black;
    /* تغيير اللون عند التمرير */
  }

  /* ... your existing CSS ... */

  .download-project {
    background-color: #3a1c71;
    /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .download-project:hover {
    background-color: #5c3c8a;
    /* Darker green */
    transform: scale(1.05);
  }

  /* ... the rest of your CSS ... */

  .project-details button {
    margin: 10px;
    /* Add some spacing between the buttons */
  }

  .button-container {
    display: flex;
    /* Use flexbox for centering and spacing */
    justify-content: center;
    /* Center the buttons horizontally */
    gap: 8px;
    /* Add space between the buttons */
  }

  .download-page-button {
    /* Use a specific class for the button in download.html */
    background-color: #3a1c71;
    /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    /* Center the text inside the button */
  }

  .download-page-button:hover {
    background-color: #5c3c8a;
    /* Darker green */
    transform: scale(1.05);
  }

  /* ... your existing CSS ... */

  .notifications-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    max-height: 200px;
    width: 300px;
    background-color: white;
    /* خلفية بيضاء للإشعارات */
    border-radius: 10px;
    /* زاوية مستديرة لجعل التصميم أكثر نعومة */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* تأثير الظل لإبراز الإشعارات */
    overflow-y: auto;
    padding: 10px;
  }

  .notifications-tab.active .notifications-content {
    display: block;
    /* عرض الإشعارات عندما تكون القائمة نشطة */
  }

  .notifications-tab {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1000;
  }

  .notifications-button {
    position: relative;
    padding: 8px;
    background: none;
    border: none;
    color: #3a1c71;
    font-size: 1.5em;
    cursor: pointer;
  }

  .notification-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 13px;
    display: none;
    /* Will be shown only when there are unread notifications */
  }

  .project-list {
    margin-left: 0;
    padding-left: 0;
  }

  .notifications-tab.active .notifications-content {
    display: block;
  }

  .notifications-tab.active .notification-count {
    display: inline-block;
  }


  /* Special scrollbar styling */
  .notifications-content::-webkit-scrollbar {
    width: 8px;
  }

  .notifications-content::-webkit-scrollbar-thumb {
    background-color: #5c3c8a;
    /* Custom color for the scrollbar */
    border-radius: 10px;
  }
body.night-mode .notifications-tab.active .notifications-content {
  box-shadow: 0px 2px 5px #3a1c71; /* لون جديد للظل في الوضع الليلي */; 
}
  .notifications-content::-webkit-scrollbar-track {
    background-color: #999999;
    border-radius: 10px;
  }
.night-mode .notifications-content::-webkit-scrollbar-track {
  background-color: #1c1c1c;
  border-radius: 10px;
}
  /* Notification items */
  .notifications-content ul {
    list-style: none;
    padding: 0;
  }
.modal-content::-webkit-scrollbar {
  width: 8px; /* جعل شريط التمرير أنحف */
}


.modal-content::-webkit-scrollbar-track {
  background: #858585; /* لون خلفية المسار */
}

.modal-content::-webkit-scrollbar-thumb {
  background: #666; /* جعل لون شريط التمرير أغمق */
  border-radius: 8px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: #555; /* لون شريط التمرير عند التمرير */
}
  .notifications-content li {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
  }

  .notifications-content li h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }

  .notifications-content li p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
  }

  .notifications-content li small {
    display: block;
    font-size: 12px;
    color: #999;
  }

  /* Show the notification dropdown when the button is clicked */
  .notifications-tab.active .notifications-content {
    display: block;
  }

  /* ... (باقي الأنماط) */

  #studentInfo,
  #teacherSelection {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
  }

  #mainHeading {
    /* أنماط دمج الألوان */
    background: linear-gradient(to right, #3a1c71, #673AB7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  /* تنسيق الصندوق المنبثق لاختيار المعلم */
  .teacher-selection-modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .teacher-selection-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 500px;
    width: 90%;
  }

  .close-teacher-selection {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .teacher-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }

  .teacher-list li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .teacher-list li:hover {
    background-color: #f5f5f5;
  }

  .teacher-list li.selected {
    box-shadow: 0 0 0 2px #3a1c71;
  }

  #confirmTeacherBtn {
    background-color: #3a1c71;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .notifications-tab.active .notifications-content {
    display: block;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
    /* Black shadow for night mode */
  }

  body.dark-mode .notifications-tab.active .notifications-content {
    box-shadow: 0px 4px 10px rgb(84, 84, 84, 0.8);
    /* White shadow for dark mode */
  }

  /* Image Navigation Buttons */
  .nav-left,
  .nav-right {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  .nav-left:hover,
  .nav-right:hover {
    background-color: rgba(102, 102, 102, 0.7);
    transform: scale(1.1);
  }

  .dark-mode .nav-left,
  .dark-mode .nav-right,
  .night-mode .nav-left,
  .night-mode .nav-right {
    background-color: rgba(0, 0, 0, 0.8);
    color: #eee;
  }

  .dark-mode .nav-left:hover,
  .dark-mode .nav-right:hover,
  .night-mode .nav-left:hover,
  .night-mode .nav-right:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
  }

  /* Mode Switch Button */
  .mode-switch {
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #3a1c71;
    /* White color for the button */
    transition: color 0.3s ease;
  }

  .mode-switch i {
    transition: all 0.3s ease;
  }

  .night-mode .mode-switch i:before {
    content: "\F496"; /* Moon-stars icon */
    font-family: 'Bootstrap Icons';
    /* Use moon-stars icon for night mode */
  }


.notifications-button {
  font-size: 2em;  /* Adjust this value to match the desired size */
  padding: 8px 12px; /* Adjust this value if needed */
}
.mode-switch {
  font-size: 2.2em;  /* Adjust this value to match the desired size */
  padding: 8px 12px; /* Adjust this value if needed */
}
